.container {
    width: 1170px;
    margin: 0px auto;
    padding: 0 15px;
    font: normal 400 18px Raleway;
}

.header, .footer {
    background: #000000;
}

.heading__title {
    font: normal 400 36px Raleway;
    line-height: 42px;
    padding: 60px 0 60px 0;
    text-align: center;
}

.heading__line {
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto;
}

.heading__quote {
    line-height: 21px;
    color: #86878B;
    padding: 40px 0;
    text-align: center;
}

.heading__title_main, .heading__quote_main, .heading__title_banner, .heading__quote_banner {
    color: #FFFFFF;
}

.heading__line_main {
    border-top: 1px solid #FFFFFF;
    float: left;
}

.heading__line_banner {
    border-top: 1px solid #FFFFFF;
}

.awesome__wrapper, .pricing__wrapper, .review__wrapper {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    column-gap: 30px;
}

.banner__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.awesome__item, .pricing__item, .review__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.social__title, .awesome__title, .pricing__item__rate, .review__item__customer p.name {
    font: 700 24px Open Sans;
}

.main-btn {
    font: 600 15px Open Sans;
    line-height: 20px;
    border: 2px solid #EC7979;
    color: #FFFFFF;
    background-color: #EC7979;
    width: 270px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.main-btn:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.main-btn:active {
    color: #FFFFFF;
    background-color: #AB4949;
}

/* Header */

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper img {
    margin-left: -55px;
}

.header__wrapper nav {
    display: flex;
}

.header__wrapper a {
    font: 600 14px Open Sans;
    color: #FFFFFF;
    width: 100%;
    padding: 28px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__wrapper a:hover {
    background-color: #EC7979;
    text-transform: uppercase;
}

.header__menu a:active {
    background-color: #AB4949;
    text-transform: uppercase;
}

/* Main section */

.main {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main.png) no-repeat center top / cover;
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 60px;
    padding-top: 207px;
}

.main__info {
    max-width: 640px;
}

.heading__quote_main {
    line-height: 21px;
    text-align: left;
    max-width: 235px;
}

.heading__title_main {
    font: 500 48px Raleway;
    line-height: 56px;
    text-align: left;
}

.download_main {
    font: 600 18px Open Sans;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 58px;
    margin: 42px 0 185px 0;
}

.main__form {
    column-gap: 30px;
    width: 470px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 35px 50px 80px 50px;
    position: relative;
}

.main__form__title {
    font: 700 24px Open Sans;
    text-transform: uppercase;
    margin-bottom: 65px;
    text-align: center;
}

.main__form__title span {
    color: #EC7979;
}

.main__form input {
    font: 400 14px Open Sans;
    line-height: 19px;
    color: #BDBDBD;
    padding: 16px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    display: block;
    margin-bottom: 20px;
}

input::placeholder, textarea::placeholder {
    color: #BDBDBD;
}

.main-btn {
    font: 600 15px Open Sans;
    line-height: 20px;
    border: 2px solid #EC7979;
    color: #FFFFFF;
    background-color: #EC7979;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Social section */

.social {
    background: #F8EFEF;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
}

.social__title, .social__text {
    padding: 20px 0;
}

.social__text {
    max-width: 470px;
    color: #86878B;
    font-family: Raleway;
    line-height: 21px;
}

.icons_social {
    display: inline-flex;
    align-items: center;
    gap: 55px;
}

.icons_social a {
    transform: scale(1.3);
}

.icons_social a:hover {
    transform: scale(1.5);
    transition: all .3s ease;
}

/* Tabs section */

.tabs {
    margin: 100px 0 50px 0;
    position: relative;
}

.tabs__item input[type='radio'] {
    display: none;
}

.tabs__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    column-gap: 30px;
    border: 1px solid #C6CBCD;
    display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}

.tabs__item > label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    font: 400 14px Open Sans;
    line-height: 19px;
    padding: 10px 83px;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs__item > label:not(:first-of-type) {

}

.tabs__item > input[type="radio"]:checked + label {

}

.tabs__title {
    
    /* height: 40px;
    width: 184px; 
    display: flex;
    justify-content: center;
    align-items: center; */
}

.tabs__item, .tabs__title {
    display: inline-block;
}

.tabs__item:checked + .tabs__title {
    position: relative;
    background-color: #FFFFFF;
    top: 1px;
    z-index: 1;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.tabs__item input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs__item:checked ~ .tabs__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

}

.tabs__wrapper > div {
    margin-left: 100px;
}

.tabs__wrapper span {
    display: block;
}

.tabs__wrapper__title {
    font: 700 30px Open Sans;
    line-height: 41px;
    margin: 48px 0 65px 0;
}

.tabs__wrapper__desc {
    line-height: 21px;
    padding-bottom: 25px;
}

.tabs__download {
    font: 600 18px Open Sans;
    line-height: 25px;
    color: #FFFFFF;
    width: 270px;
    height: 58px;
    border: none;
    background: #EC7979;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; 
}

/* Awesome section */

.awesome__item {
    align-items: center;
    padding-top: 70px;
 }
 
 .awesome__title {
    display: flex;
    align-items: center;
    margin: 60px 0 24px 0;
 }
 
 .awesome__item__desc {
    display: flex;
    justify-content: center;
    text-align: center;
 }

 /* Price section */

 .pricing {
    background-color: #F5F5F5;
}
.pricing__item {
   padding: 40px 0 50px 0;
}

.pricing__item__rate {
    color:#FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__item__price {
    font: 700 36px Raleway;
    color:#FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__item__motivation {
    color:#FFFFFF80;
    background: #333333;
    border: 2px solid #F5F5F5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__item__space p {
    color:#86878B;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__item_up {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    position: relative;
    top: -20px;
}

/* Review section */

.review__item {
    text-align: center;
    padding: 40px 0 20px 0;
 }
 
 .review__item__recall {
    color:#86878B;
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
 }
 
 .review__item__recall::after {
    content: "";
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: absolute;
    left: 70px;
    bottom: -20px;
 }
 
 .review__item__customer {
    padding-top: 65px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .review__item__customer p.name {
    color:#000000;
    padding: 20px 30px 35px 30px;
    width: 270px;
    display: flex;
    align-items: center;
    text-align: left;
 }
 
 .review__item p.post {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
 }

 /* Banner section */

.banner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.png) no-repeat center center / cover;
}   

.download {
    font: 600 18px Open Sans;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    width: 370px;
    height: 60px;
    margin: 37px 0 50px 0;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
 }

/* Contacts section */

.contacts__form__info {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    column-gap: 30px;
}

.contacts__form__info > div {
    width: 100%;
}

.contacts__form__info input, .contacts__form__info textarea {
    display: block;
    border: none;
    resize: none;
    font: 400 14px Open Sans;
    line-height: 19px;
    color: #BDBDBD;
    margin-bottom: 50px;
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
}

.send_btn {
    margin-bottom: 50px;
}

.send {
    font: 600 18px Open Sans;
    line-height: 25px;
    color: #FFFFFF;
    width: 370px;
    height: 58px;
    border: none;
    background: #EC7979;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%);  
}

 /* Footer */

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_footer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 35px 470px 28px 470px;
    gap: 33px;
    
}

.icons_footer a:hover {
    transform: scale(1.2);
    transition: all .3s ease;
}

.axure {
    color: #FFFFFF80;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 27px;
 }