.container {
    width: 1170px;
    margin: 0px auto;
    padding: 0 15px;
    font: normal 400 18px Raleway;
}

.header, .footer {
    background: #000000;
}

.heading__title {
    font: normal 400 36px Raleway ;
    padding: 60px 0 60px 0;
    text-align: center;
}

.heading__line {
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto;
}

.heading__quote {
    color: #86878B;
    padding: 40px 0;
    text-align: center;
}

.heading__title_main, .heading__quote_main, .heading__title_banner, .heading__quote_banner {
    color: #FFFFFF;
}

.heading__line_main {
    border-top: 1px solid #FFFFFF;
    float: left;
}

.heading__line_banner {
    border-top: 1px solid #FFFFFF;
}

.awesome__wrapper, .pricing__wrapper, .review__wrapper {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    column-gap: 30px;
}

.banner__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome__item, .pricing__item, .review__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.social__title, .awesome__title, .pricing__item__rate, .review__item__customer p.name {
    font: 700 24px Open Sans;
}

/* Header */

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerr__wrapper a {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.header__wrapper nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.header__wrapper a {
    font: 600 14px Open Sans;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/* Main section */

.main {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main.png) no-repeat center top / cover;
    padding-bottom: 135px;
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 65px;
    padding-top: 207px;
}

.main__info {
    max-width: 640px;
}

.heading__quote_main {
    line-height: 21px;
    text-align: left;
    max-width: 235px;
}

.heading__title_main {
    font: 500 48px Raleway;
    line-height: 56px;
    text-align: left;
}

.download_main {
    width: 270px;
    height: 58px;
    margin-top: 42px;
}

.main__form {
    width: 470px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 10px;
}

/* Social section */

.social {
    background: #F8EFEF;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
}

.social__title, .social__text {
    padding: 20px 0;
}

.social__text {
    max-width: 470px;
    color: #86878B;
    font-family: Raleway;
    line-height: 21px;
}

.icons_social {
    display: inline-flex;
    align-items: center;
    gap: 55px;
}

.icons_social a {
    transform: scale(1.3, 1.3);
}

/* Awesome section */

.awesome__item {
    align-items: center;
    padding-top: 70px;
 }
 
 .awesome__title {
    display: flex;
    align-items: center;
    margin: 60px 0 24px 0;
 }
 
 .awesome__item__desc {
    display: flex;
    justify-content: center;
    text-align: center;
 }

 /* Price section */

 .pricing {
    background-color: #F5F5F5;
}
.pricing__item {
   padding: 40px 0 50px 0;
}

.pricing__item__rate {
    color:#FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__item__price {
    font: 700 36px Raleway;
    color:#FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__item__motivation {
    color:#FFFFFF80;
    background: #333333;
    border: 2px solid #F5F5F5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__item__space p {
    color:#86878B;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__item_up {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    position: relative;
    top: -20px;
}

/* Review section */

.review__item {
    text-align: center;
    padding: 40px 0 20px 0;
 }
 
 .review__item__recall {
     color:#86878B;
     height: 180px;
     background: #E2E2E2;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
 }
 
 .review__item__recall::after {
    content: "";
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: absolute;
    left: 70px;
    bottom: -20px;
 }
 
 .review__item__customer {
    padding-top: 65px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .review__item__customer p.name {
    color:#000000;
    padding: 20px 30px 35px 30px;
    width: 270px;
    display: flex;
    align-items: center;
    text-align: left;
 }
 
 .review__item p.post {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
 }

 /* Banner section */

.banner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.png) no-repeat center center / cover;
}   

.download {
    font: 600 18px Open Sans;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    width: 370px;
    height: 60px;
    margin: 37px 0 50px 0;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
 }

 /* Footer */

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 35px 470px 28px 470px;
    gap: 33px;
    
}

.axure {
    color: #FFFFFF80;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 27px;
 }